<section class="px-4 py-2">
  <h2 class="text-2xl font-thin py-2">登入</h2>

  <form class="form-signin" action="/signin" method="POST">
    <div class="field py-2">
      <label class="block font-semibold" for="inputEmail">Email</label>
      <input type="text" name="email" class="px-3 py-2 text-lg border border-gray-400 rounded" required autofocus>
    </div>

    <div class="field py-2">
      <label class="block font-semibold" for="inputEmail">Password</label>
      <input type="password" name="password" class="px-3 py-2 text-lg border border-gray-400 rounded" required>
    </div>
    
    <div class="actions mt-3">
      <button class="bg-gray-300 px-3 py-2 rounded" type="submit">Log in</button>
    </div>  
  </form>
</section>